#app-root-2026-sohd_dashboard_mini .app {
  background-color: #fff;
  padding: 0;
  .app_content {
    .dashboard_items {
      margin: 0;
      .dashboard_item {
        margin-bottom: 10px;
        .dashboard_circle {
          margin: 0 auto;
          .dashboard_item_value {
            font-size: 36px;
            .value {
              display: inline-block;
              text-align: right; 
              width: 70px;
            }
          }
        }
      }
    }
  }
  &.narrow {
    .app_content {
      .dashboard_items {
        .dashboard_item {
          box-sizing: border-box;
          flex-grow: 0;
          flex-wrap: nowrap;
          flex: 50%;
          margin-bottom: 10px;
          padding: 0 10px;
          width: 170px;
          .dashboard_circle {
            background-color: transparent;
            border-radius: 0;
            border: 0;
            height: auto;
            margin: auto auto;
            width: auto;
            .dashboard_item_value.mobile {
              display: block;
            }
            .dashboard_item_value.desktop {
              display: none;
            }
          }
          .dashboard_item_image {
            display: none;
          }
        }
      }
    }
  }
}
