:root {
  /* Report-specific additions */
  --un-font-weight-light: 300;
  --un-font-weight-medium: 500;
}

#app-root-2026-sohd_dashboard .app {
  h3 {
    @media all and (max-width: 1024px) {
      font-size: clamp(var(--un-font-size-xl), 3vw, var(--un-font-size-xxl));
    }
    @media all and (max-width: 600px) {
      font-size: var(--un-font-size-xl);
      font-weight: var(--un-font-weight-bolder);
      line-height: var(--un-line-height-small);
    }
  }
  .slide_content {
    h3 {
      opacity: 0;
      &.visible {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }
}
